<!DOCTYPE html>
	<head>
		<title>Login Page</title>

		<!--JQuery-->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		
		<!-- Compiled and minified CSS -->
  		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

 		<!-- Compiled and minified JavaScript -->
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  		<!--CUSTOM Script-->
	</head>
	<body>
		<form>
			Username: <input type="text" name="userName"><br>
			Password: <input type="password" name="passWord"><br>
			<button type="submit" id="login">Login</button><br>
			<button type="submit" id="register">Register</button>
		</form>
	</body>
<html>