<!DOCTYPE html>
	<head>
		<title>Login Page</title>

		<!--JQuery-->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		
		<!-- Compiled and minified CSS -->
  		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

 		<!-- Compiled and minified JavaScript -->
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  		<!--CUSTOM Script-->
  		<script src="script/loginScript.js"></script>

  		<!--Custom CSS -->
  		<link rel="stylesheet" href="style/style.css">

	</head>
	<body>
		<div class="row">
	        <div class="col s12 m6">
	          <div class="card blue-grey darken-1">
	            <div class="card-content white-text">
	            	<h1>Welcome</h1>
	                <h3 id="status"></h3>
	            </div>
	          </div>
	        </div>

	        <div class="col s12 m6">
	          <div class="card blue-grey darken-1">
	            <div class="card-content white-text">
	            	<form> 
		                Username: <input type="text" id="username" ><br>
					    Password: <input type="password" id="password"><br>
						<div class="card-action">
							<div id="login" class="btn">Login</div><br>
							<div id="register" class="btn marginTop20">
								<a href="register.html" class ="white-text">Register</a>
							</div>
						</div>
					</form>
	            </div>
	          </div>
	        </div>        
      	</div>
	</body>
<html>