<!DOCTYPE html>
	<head>
		<title>Login Page</title>

		<!--JQuery-->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		
		<!-- Compiled and minified CSS -->
  		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

 		<!-- Compiled and minified JavaScript -->
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  		<!--CUSTOM Script-->
  		<script src="script/registerScript.js"></script>

  		<!--CUSTOM CSS -->


	</head>
	<body>
		<div class="row"> 
			<div class = "col s12 m6">
				<div class = "card blue-grey darken-1">
					<div class="card-content white-text">	
						<h1>Register Page</h1>
						<h2 id="status"></h2>
					</div>
				</div>
			</div>
			<div class = "col s12 m6">
				<div class = "card blue-grey darken-1">
					<div class="card-content white-text">	
						<form>
							Desired Username: <input onkeypress="return RestrictSpace()" type="text" name="userName" id="user" maxlength="10"><br>
							Desired Password: <input onkeypress="return RestrictSpace()" type="password" name="password" id="pass" maxlength="10"><br>
							Enter Password Again : <input onkeypress="return RestrictSpace()" type="password" name="password" id="repass" maxlength="10"><br>
							<div class="btn" id="register">Register</div>
							<div class="btn"><a href="login.html" class="white-text">Login</a></div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
<html>